.creaturelist {
  display: table;
  background-color: #0a0a0a;
  border-collapse: collapse;
  color: #DEDEDE;
  width: 100%;
  margin-top: 5px;
}

.creaturelist-row {
  display: table-row;
  border: 1px solid #303030;
}

.creaturelist-row-cell {
  display: table-cell;
  vertical-align: middle;
  padding: 5px;
}

.creaturelist-namecell {
  width: 100%;
}

.creaturelist-textcontent {
  font: 14px 'Lucida Grande', sans-serif;
  padding-left: 5px;
}

.creaturelist-openedinfolabel {
  margin: 5px;
  display: inline-block;
}
