.ui-layout-pane {
  border: none;
  padding: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #0a0a0a;
}

.ui-layout-resizer {
  background:  #232323;
}

.ui-layout-toggler {
  background: #3C7384;
}

.body-editor-south {
  overflow-y: scroll;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}
